.Button {
  border-color: var(--dark-gray);
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.Text {
  font-weight: 300;
  color: var(--light-gray);
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.mainGroup {
  padding: 0 180px;
  @media (max-width: 1024px) {
    padding: 0;
    justify-content: center;
  }
}
