.about {
  color: var(--white);
  flex: 1;
}
.about span {
  padding: 0 0.5rem;
  display: inline-block;
  overflow: hidden;
  border-right: 0.051em solid var(--white);
  white-space: nowrap;
  margin: 0 auto;
  width: fit-content;
  animation:
    typing 4.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 250px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--white);
  }
}

.italic {
  color: var(--white);
  font-style: italic;
}
.description {
  color: var(--light-gray);
  font-weight: 400;
}
.descriptionStack {
  flex: 1;
}

.tabStack {
  flex: 1;
  height: 100%;
}
.imgBox {
  flex: 1;
  justify-content: end;
  display: flex;
  height: 100%;
}
.whiteTab {
  background-color: var(--white);
  border-radius: 40px;
  height: 100%;
  padding: 1.5rem;
  gap: 0.5rem;
  overflow: hidden;
  cursor: url("/black-cursor.png"), auto;
}
.smallTab {
  background-color: transparent;
  border-radius: 40px;
  height: 100%;
  padding: 1.5rem;
  gap: 0.5rem;
  border: 1px solid var(--dark-gray);
  width: 70%;
}
.tab {
  background-color: transparent;
  border-radius: 40px;
  height: 100%;
  padding: 1.5rem;
  gap: 0.5rem;
  border: 1px solid var(--dark-gray);
}
.skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.firstTitle {
  font-weight: 450;
}
.title {
  font-weight: 450;
  color: var(--light-gray);
}

.text {
  color: var(--white);
}

.gitLink {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.gitBox {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: 1px solid var(--light-gray);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: -1.1rem;
}
.linkBox {
  background-color: var(--white);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: 1px solid var(--black);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: -1.1rem;
}
.detailText {
  font-weight: 400;
  color: var(--light-gray);
}
.imgOuter {
  width: 400px;
  height: 500px;
  border-radius: 40px;
  border: 1px solid var(--dark-gray);
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainGroupTitle {
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}
.mainGroup {
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.float {
  position: absolute;
  top: -6rem;
  right: -14rem;
  width: 700px;
  height: 700px;
  border: 2px solid var(--dark-gray);
  border-radius: 50%;
}
