:root {
  color: var(--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);

  --black: #121212;
  --white: #f5f5f5;
  --dark-gray: #3d3d3d;
  --light-gray: #a6a6a6;
}
#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: baseline;
  width: 100%;
  background-color: var(--black);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--black);
  cursor: url("/white-cursor.png"), auto;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
}
