.gitLink {
  justify-content: center;
  align-items: center;
}
.gitBox {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: 1px solid var(--light-gray);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: -1.1rem;
}
.linkBox {
  background-color: var(--white);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: 1px solid var(--black);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: -1.1rem;
}
